################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Atipi.code-workspace
/ImgDUDE-M-arioSimetrico
context.o
main
readFile.o
handlerContext.o
main.o
makefile
/context.obj
/handlerContext.obj
/diffpnm.obj
/diffpnm.exe
/save35_4.pgm
/save35_3.pgm
/save35_2.pgm
/save35.pgm
/save3.pgm
/save2.pgm
/save.pgm
/readFile.obj
/main.obj
/main.exe
