################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Atipi.code-workspace
/ImgDUDE-M-arioSimetrico
context.o
main
readFile.o
handlerContext.o
main.o
makefile
Img07M0.35Filter1.pgm
Img07M0.35Filter2.pgm
Img07M0.35Filter3.pgm
Img07M0.35Filter4.pgm
Img20M0.10Filter1.pgm
Img20M0.10Filter2.pgm
Img20M0.10Filter3.pgm
Img20M0.10Filter4.pgm
Img20M0.10Filter11.pgm
Img20M0.35Filter1.pgm
