################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Atipi.code-workspace
/ImgDUDE-M-arioSimetrico
context.o
main
readFile.o
handlerContext.o
main.o
makefile
Img07M0.35Filter1.pgm
Img07M0.35Filter2.pgm
Img07M0.35Filter3.pgm
Img07M0.35Filter4.pgm
Img20M0.10Filter1.pgm
Img20M0.10Filter2.pgm
Img20M0.10Filter3.pgm
Img20M0.10Filter4.pgm
Img20M0.10Filter11.pgm
Img20M0.35Filter1.pgm
/context.obj
/handlerContext.obj
/diffpnm.obj
/diffpnm.exe
/save35_4.pgm
/save35_3.pgm
/save35_2.pgm
/save35.pgm
/save3.pgm
/save2.pgm
/save.pgm
/readFile.obj
/main.obj
/main.exe
Outputs/Img07M0.05_k_0.pgm
Outputs/Img07M0.05_k_1.pgm
Outputs/Img07M0.05_k_2.pgm
Outputs/Img07M0.05_k_3.pgm
Outputs/Img07M0.05_k_4.pgm
Outputs/Img07M0.05_k_5.pgm
Outputs/Img07M0.05_k_6.pgm
Outputs/Img07M0.05_k_7.pgm
Outputs/Img07M0.05_k_8.pgm
Outputs/Img07M0.10_k_0.pgm
Outputs/Img07M0.10_k_1.pgm
Outputs/Img07M0.10_k_2.pgm
Outputs/Img07M0.10_k_3.pgm
Outputs/Img07M0.10_k_4.pgm
Outputs/Img07M0.10_k_5.pgm
Outputs/Img07M0.10_k_6.pgm
Outputs/Img07M0.10_k_7.pgm
Outputs/Img07M0.10_k_8.pgm
Outputs/Img07M0.35_k_0.pgm
Outputs/Img07M0.35_k_1.pgm
Outputs/Img07M0.35_k_2.pgm
Outputs/Img07M0.35_k_3.pgm
Outputs/Img07M0.35_k_4.pgm
Outputs/Img07M0.35_k_5.pgm
Outputs/Img07M0.35_k_6.pgm
Outputs/Img07M0.35_k_7.pgm
Outputs/Img07M0.35_k_8.pgm
Outputs/Img20M0.05_k_0.pgm
Outputs/Img20M0.05_k_1.pgm
Outputs/Img20M0.05_k_2.pgm
Outputs/Img20M0.05_k_3.pgm
Outputs/Img20M0.05_k_4.pgm
Outputs/Img20M0.05_k_5.pgm
Outputs/Img20M0.05_k_6.pgm
Outputs/Img20M0.05_k_7.pgm
Outputs/Img20M0.05_k_8.pgm
Outputs/Img20M0.10_k_0.pgm
Outputs/Img20M0.10_k_1.pgm
Outputs/Img20M0.10_k_2.pgm
Outputs/Img20M0.10_k_3.pgm
Outputs/Img20M0.10_k_4.pgm
Outputs/Img20M0.10_k_5.pgm
Outputs/Img20M0.10_k_6.pgm
Outputs/Img20M0.10_k_7.pgm
Outputs/Img20M0.10_k_8.pgm
Outputs/Img20M0.35_k_0.pgm
Outputs/Img20M0.35_k_1.pgm
Outputs/Img20M0.35_k_2.pgm
Outputs/Img20M0.35_k_3.pgm
Outputs/Img20M0.35_k_4.pgm
Outputs/Img20M0.35_k_5.pgm
Outputs/Img20M0.35_k_6.pgm
Outputs/Img20M0.35_k_7.pgm
Outputs/Img20M0.35_k_8.pgm
Outputs/Img99M0.05_k_8.pgm
PSNR/PSNR_07_0.05.txt
PSNR/PSNR_07_0.10.txt
PSNR/PSNR_07_0.35.txt
PSNR/PSNR_20_0.05.txt
PSNR/PSNR_20_0.10.txt
PSNR/PSNR_20_0.35.txt
PSNR/PSNR_99_0.05.txt
Img07M0.10Filter.pgm
